.aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.topWrapper,
.bottomWrapper {
  /* height: 80vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

.aboutImage {
    margin-top: 3em;
  height: 60vh;
  width: auto;
}

.aboutWrapper .heading {
  color: #d87093;
}

.expWrapper,
.skillsWrapper,
.imageWrapper {
  /* margin-top: 6em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* width: 45%; */
}

.aboutMe {
  font-size: 1.5em;
}

@media screen and (max-width: 960px) {
  .aboutMe {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 767px) {
  .topWrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .bottomWrapper,
  .topWrapper {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .expWrapper,
  .skillsWrapper {
    width: 100%;
    padding: 0 5em;
    margin-top: 5em;
    /* height: 100vh; */
  }

  .imageWrapper {
    /* display: none; */
  }

  .aboutImage {
      height: 30vh;
  }
}

@media screen and (max-width: 440px) {
  .aboutWrapper {
    max-height: 300vh;
  }
}

@media screen and (min-width: 768px) {
  .bottomWrapper,
  .topWrapper {
    min-height: 80vh;
  }

  .aboutWrapper {
    height: 180vh;
  }
  .expWrapper,
  .skillsWrapper,
  .imageWrapper {
    max-width: 45%;
  }

  .aboutImage {
      margin-top: 0;
  }
}

@media screen and (max-width: 1024px) {
    .aboutImage {
        max-height: calc(min(50vh, 30em));
    }
    
}